/*Home responsive Display 320 * 580*/
@media screen and (max-width: 330px) and (max-height: 580px){
    .section-rows {
        display: none;
    }
    .section-banner {
        top: 35vh;
        height: 40hv;
    }
    
}

/*Home responsive Display 380 * 680*/
@media screen and (min-width: 380px) and (max-height: 680px){
    header {
        height: 60px;
    }

    /*Nav*/
    nav {
        height: 70px;
        align-items: center;
    }

    .img-logo {
        width: 50px;
    }

    .nav-menu {
        top: 60px;
    }

    .primary-btn{
        letter-spacing: 0.1rem;
        padding: 10px 20px;
    }

    /*Nav*/
    /*Ajusta el TOP*/
    #btn-menu:checked ~ .nav-menu {
        top: 60px;
    }

    /*Home*/
    .column {
        align-items: center;
        text-align: center;
        display: inline;
        width: 30%;
    }

    .section-rows {
        top: 45%;
    }

    .card {
        padding-bottom: 25px;
    }
    
    .card-icon {
        padding-bottom: 5px;
    }

    .card-icon svg{
        width: 24px; 
        height: 24px;
    }
    
    .card-title {
        font-size: 0.9rem;
        padding-bottom: 12px;
    }
    
    .card-body{
        font-size: 0.8rem;
    }

    .section-banner h1 {
        font-size: 24px;
    }
    
    .section-banner h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }
}


/*Home responsive Display 768 * 680*/
@media screen and (min-width: 768px) and (min-height: 680px){
    header {
        height: 100px;
    }

    /*Nav*/
    nav {
        height: 100px;
        align-items: center;
    }

    .nav-menu li a {
        font-size: 1rem;
    }

    .img-logo {
        width: 90px;
    }

    .nav-menu {
        top: 0px;
    }


    .primary-btn{
        font-size: 1.25rem;
        letter-spacing: 0.125rem;
        padding: 10px 20px;
        background-color: #01e675;
    }


    /*Home*/
    .section-banner {
        top: 20vh;
    }

    .column {
        align-items: center;
        text-align: center;
        display: inline-block;
        width: 30%;
    }

    .section-rows {
        top: 55%;
    }

    .card {
        padding-bottom: 35px;
    }
    
    .card-icon {
        padding-bottom: 15px;
    }

    .card-icon svg{
        width: 32px; 
        height: 32px;
    }
    
    .card-title {
        font-size: 1.25rem;
        padding-bottom: 18px;
    }
    
    .card-body{
        font-size: 1rem;
    }

    .section-banner h1 {
        font-size: 32px;
        padding-bottom: 10px;
    }
    
    .section-banner h2 {
        font-size: 26px;
        padding-bottom: 30px;
    }
}



@media screen and (max-width:768px){

    .section-rows{
        top: 50%;
        display: block;
    }
    
    .column{
        display: block;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        height: auto;
        width: 100%;
    }

    .flex-box{
        width: 80%;
        padding: 10px;
    }
}